/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #f9f7f2 !default; // pale gold
$text-color: #31424c !default; // dark grey
$muted-text-color: #355263 !default; // medium grey
$primary-color: #073847 !default; // marine
$border-color: mix(#fff, #393e46, 75%) !default; // medium grey
$footer-background-color: $primary-color !default;
$link-color: $primary-color !default;
$masthead-link-color: #093847 !default;
$masthead-link-color-hover: #edb017 !default;
$navicon-link-color-hover: #edb017 !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
